$color-light: rgb(247, 247, 247);
$color-dark: rgb(50, 50, 50);
$color-brand: #d9ff00;

$bg-primary: rgb(230, 230, 230);
$bg-default: rgb(40, 40, 40);
$bg-secondary: rgb(59, 59, 59);

$mobile-screen: 600px;
$tablet-screen: 1100px;

$space-l: 10rem;
$space-m: 5rem;
$space-s: 1rem;

$navHeight: 3rem;
$navHeightMobile: 4rem;
