* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(4deg, #182b2e 0%, #4e898d 100%);
  color: #f0f0f0;
  font-family: sans-serif;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #131313;
}

.nav {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}

.nav-logo__container {
  width: auto;
  height: auto;
  position: absolute;
  left: 8rem;
  z-index: 10;
}

.nav-logo {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.burger {
  width: 3rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  right: 8rem;
  z-index: 10;
}

.burger:hover .line:first-child {
  -webkit-transform: translate(15px);
          transform: translate(15px);
}

.burger:hover .line:last-child {
  -webkit-transform: translate(-15px);
          transform: translate(-15px);
}

.burger:active .line:first-child {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-transform: translate(-30px);
          transform: translate(-30px);
}

.burger:active .line:last-child {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-transform: translate(30px);
          transform: translate(30px);
}

.burger--cross .line:first-child {
  -webkit-transform: rotate(45deg) translate(0, 1.3rem);
          transform: rotate(45deg) translate(0, 1.3rem);
}

.burger--cross .line:nth-child(2) {
  opacity: 0;
}

.burger--cross:hover .line:nth-child(2) {
  opacity: 1;
}

.burger--cross .line:last-child {
  -webkit-transform: rotate(-45deg) translate(0, -1.3rem);
          transform: rotate(-45deg) translate(0, -1.3rem);
}

.line {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #d9ff00;
  width: 100%;
  height: 20%;
  border-radius: 1rem;
}

nav ul {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(4deg, #182b2e 0%, #4e898d 100%);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background: #131313;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 20vh;
  font-size: 2rem;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(240, 240, 240, 0.2);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

nav ul li a:hover {
  color: #f0f0f0;
  -webkit-filter: drop-shadow(0 10px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 10px 1px rgba(0, 0, 0, 0.2));
}

.nav--hidden {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  border-radius: 100%;
}

.header {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slogan__container {
  margin: 2rem 5rem;
  border-left: 5px solid #f0f0f0;
}

.slogan-text {
  font-size: 3rem;
  line-height: 200%;
  margin-left: 1rem;
  color: #f0f0f0;
}

footer {
  width: 100%;
  min-height: 20vh;
  background: rgba(19, 19, 19, 0.9);
}
/*# sourceMappingURL=style.css.map */