// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables
$bodyBackground: linear-gradient(4deg, rgb(15, 15, 15) 0%, rgb(71, 71, 71) 100%);
$primaryBackground: rgb(19, 19, 19);
$secondaryBackground: rgb(31, 31, 31);
$overlayBackground: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
$primaryColor: rgb(240, 240, 240);
$secondaryColor: rgb(217, 255, 0);
$hiddenText: rgba(240, 240, 240, 0.2);
$shadow: rgba(0, 0, 0, 0.3);
$boxShadow: 5px 15px 20px 1px rgba(0, 0, 0, 0.3);

$font: 'Poppins', sans-serif;;
$transitionLong: 1s ease;
$transitionMedium: 0.6s ease;
$transitionShort: 0.2s ease;

$bodyPadding: 8rem;
$mobilePadding: 1rem;
$borderRadius: 1rem;
$mobileBreak: 1280px;

// Mixins
@mixin flex($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// Default style 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;

	@media screen and (max-width: $mobileBreak) {
		font-smooth: 10px;
	}
}

body {
	width: 100%;
	min-height: 100vh;
	background: $bodyBackground;
	color: $primaryColor;
	font-family: $font;
	overflow-x: hidden;
}

a {
	color: $primaryColor;
	text-decoration: none;
}

p {
	color: $primaryColor;
}
// Scroll bar styling
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: $primaryBackground;
}

// Navigation styling
.nav {
	width: 100%;
	height: 7rem;
	@include flex(row, space-between);
	position: fixed;
	z-index: 10;
	transform: translateY(-100%);
	transition: transform $transitionLong;
}

// Show nav with javascript
.nav--show {
	transform: translateY(0);
}

.nav-logo__container {
	width: auto;
	height: auto;
	position: absolute;
	left: $bodyPadding;
	z-index: 10;
	
	@media screen and (max-width: $mobileBreak) {
		left: $mobilePadding;
	}
}

.nav-logo {
	width: 5rem;
	height: 5rem;
	object-fit: cover;

	@media screen and (max-width: $mobileBreak) {
		width: 4rem;
		height: 4rem;
	}
}

// Burger and burger lines styling
.burger {
	width: 3rem;
	height: 2rem;
	@include flex(column, space-between);
	cursor: pointer;
	transition: all $transitionShort;
	position: absolute;
	right: $bodyPadding;
	z-index: 10;

	@media screen and (max-width: $mobileBreak) {
		right: $mobilePadding;
	}

	&:hover .line:first-child {
		transform: translate(15px);
	}

	&:hover .line:last-child {
		transform: translate(-15px);
	}

	&:active .line:first-child {
		transition: 0.1s all ease;
		transform: translate(-30px);
	}

	&:active .line:last-child {
		transition: 0.1s all ease;
		transform: translate(30px);
	}
}

// Cross burger when nav is opened
.burger--cross {
	.line:first-child {
		transform: translate(0, 0.9rem) rotate(45deg);
	}

	.line:nth-child(2) {
		opacity: 0;
	}

	&:hover .line:nth-child(2){
		opacity: 1;
	}

	.line:last-child {
		transform: translate(0, -0.9rem) rotate(-45deg);
	}
}

.line {
	transition: all $transitionShort;
	background: $secondaryColor;
	width: 100%;
	height: 10%;
	border-radius: $borderRadius;
}

// Navigation menu styling
nav ul {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	@include flex(column, center);
	background: $bodyBackground;
	transition: all $transitionMedium;
	background: $primaryBackground;
}

nav ul li {
	text-decoration: none;
	list-style-type: none;
	width: 100%;
	height: 20vh;
	font-size: 2rem;
	text-transform: uppercase;
}

nav ul li a {
	height: 100%;
	width: 100%;
	@include flex();
	color: $hiddenText;
	transition: $transitionShort;

	&:hover {
		color: $primaryColor;
		filter: drop-shadow(0 10px 1px $shadow);
	}
}

// Class to hide navigation with Javascript
.nav--hidden {
	transform: translate(0, -100%);
	border-radius: 100%;

	@media screen and (max-width: $mobileBreak) {
		border-radius: 0;
	}
}

.services__container {
	position: relative;
	width: 100%;
	height: auto;

	&:hover .services-menu {
		transform: scale(1);
	}
}

.services-menu {
	display: block;
	width: 100%;
	min-height: 100%;
	height: auto;
	position: absolute;
	transform: scaleY(0);
	@include flex(column, space-between);
	transition: $transitionShort;
	background: $primaryBackground;

	li {
		font-size: 1.5rem;
		height: auto;
		width: auto;
	}
}

// Header styling
.header {
	width: 100%;
	height: 90vh;
	@include flex(row, flex-start, flex-end);
	background: url(../assets/main-background.JPG);
	background-size: cover;
	background-position: center;
	position: relative;

	@media screen and (max-width: $mobileBreak) {
		height: 90vh;
	}
}

// Dark overlay
.dark-overlay {
	width: 100%;
	height: 100%;
	background: $overlayBackground;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	@media screen and (max-width: $mobileBreak) {
		background: $shadow;
	}
}

// Header slogan
.slogan__container {
	margin: 3rem $bodyPadding;
	position: relative;
	z-index: 2;
	transition: 1s all ease;
	min-height: 5rem;

	@media screen and (max-width: $mobileBreak) {
		margin: $mobilePadding;
	}
}

.divider-line {
	background: $primaryColor;
	width: 5px;
	height: 100%;
	transform: scaleY(0);
	position: absolute;
	transition: all $transitionLong;
}

// Class added via javascript
.animate-stretch {
	transform: scaleY(1);
}

.slogan-text {
	font-size: 2.5rem;
	line-height: 200%;
	margin-left: 1rem;
	color: $primaryColor;
	font-weight: 300;

	@media screen and (max-width: $mobileBreak) {
		font-size: 1.5rem;
	}
}

.animate-slide {
	display: inline-block;
	opacity: 0;
	transform: translateY(10px);
	transition: $transitionMedium;
}

// Class added via javascript
.animate-slide--active {
	opacity: 1;
	transform: translateY(0);
}

// Highilghted emphasised text
.highlight-title {
	&--dark {
		color: $primaryBackground;
		font-weight: 800;
	}

	&--light {
		color: $secondaryColor;
		font-weight: 800;
	}
}

// Logo text styling
.logo-text {
	font-size: 4rem;

	@media screen and (max-width: $mobileBreak) {
		font-size: 2.5rem;
	}
}

// Section styling
.section {
	width: 100%;
	min-height: 20vh;
	padding: 10rem $bodyPadding;

	&--1 {
		background: $primaryBackground;
	}

	&--2 {
		background: $secondaryBackground;
	}

	&--3 {
		background: $primaryBackground;
	}

	&--4 {
		background: $secondaryBackground;
	}

	@media screen and (max-width: $mobileBreak) {
		padding: 4rem $mobilePadding;
	}
}

// Section title container
.section-title__container {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 2rem;
}

.section-title {
	font-size: 2.5rem;
	text-transform: uppercase;

	@media screen and (max-width: $mobileBreak) {
		font-size: 2rem;
	}
}

.content__container {
	font-size: 1.2rem;
	width: 100%;
	@include flex();
	transition: all $transitionMedium;
	transform: translateY(0);
	opacity: 1;

	&--3 {
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
	}

	&--4 {
		@include flex(column);
	}
}

.slide-up {
	// transition: all $transitionLong;

	transform: translateY(100%);
	opacity: 0;
}

.intro-text {
	text-align: left;
	width: 50%;
	line-height: 170%;

	@media screen and (max-width: $mobileBreak) {
		text-align: center;
		width: 100%;
	}
}

// Service cards container
.service-cards__container {
	width: 100%;
	height: auto;
	@include flex(row);

	@media screen and (max-width: $mobileBreak) {
		@include flex(column);
	}
}

// Service card
.service__card {
	background: $shadow;
	width: 30%;
	margin: 0 1rem;
	height: auto;
	position: relative;
	overflow: hidden;
	box-shadow: $boxShadow;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	@media screen and (max-width: $mobileBreak) {
		width: 100%;
		margin: 1rem 0;
	}
}

.card-img__container {
	width: 100%;
	height: 40vh;

	.card-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: $mobileBreak) {
		height: 60vh;
	}
}

.card-content__container {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	&:hover .card-text {
		transform: scaleY(1);
		opacity: 1;
	}
}

.card-title {
	font-size: 1.5rem;
	position: absolute;
	bottom: 0;
	background: rgba($secondaryBackground, 0.8);
	height: 15%;
	width: 100%;
	@include flex();

	@media screen and (max-width: $mobileBreak) {
		font-size: 1.2rem;
	}
}

.card-text {
	padding: 1rem;
	padding-top: 0;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 85%;
	background: rgba($secondaryBackground, 0.8);
	@include flex(column, center);
	transform: scaleY(0);
	opacity: 0;
	transition: $transitionShort;

	@media screen and (max-width: $mobileBreak) {
		font-size: 1rem;
		transform: scaleY(1);
		opacity: 1;
	}
}

// Button styling default for all buttons
.btn__container {
	width: 100%;
	text-align: center;

	&--form {
		@include flex(row, space-around);

		@media screen and (max-width: $mobileBreak) {
			@include flex(row, space-between);
		}
	}
}

.btn {
	outline: none;
	border: 1px solid $primaryColor;
	background: transparent;
	padding: 8px 10px;
	margin: 1rem;
	color: $primaryColor;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 2;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		background: $primaryColor;
		width: 100%;
		height: 100%;
		transform: translate(0, 100%);
		transition: $transitionShort;
		z-index: -1;
	}

	&:hover::after {
		transform: translate(0, 0);
	}

	&:hover {
		transition: $transitionShort;
		transition-delay: 0.2s;
		color: $primaryBackground;
	}

	&--gallery {
		font-size: 1.3rem;
	}

	&--success {
		border: 1px solid lime;

		&::after {
			background: lime;
		}
	}

	&--fail {
		border: 1px solid crimson;

		&::after {
			background: crimson;
		}
	}

	
	@media screen and (max-width: $mobileBreak) {
		font-size: 1rem;
	}
}

// Highlight text styling
.highlight-text {
	&--light {
		color: $secondaryColor;
	}

	&--dark {
		color: $primaryBackground;
	}
}

// Gallery section styling
.gallery-img__container {
	width: 30%;
	height: 40vh;
	background: $secondaryBackground;
	transition: $transitionMedium;
	cursor: pointer;
	overflow: hidden;
	flex-grow: 1;

	&:hover {
		box-shadow: $boxShadow;
	}

	&:hover .gallery-img {
		transform: scale(1.1);
		opacity: 1;
	}

	@media screen and (max-width: $mobileBreak) {
		width: 100%;
		height: 70vh;
	}
}

.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: $transitionMedium;
	opacity: 0.5;
}

// Form section
.form__container {
	width: 50%;
	margin-top: 2rem;

	@media screen and (max-width: $mobileBreak) {
		width: 100%;
	}
}

.contact-form {
	background: $primaryBackground;
	text-align: center;	
	min-height: 10vh;
	padding: 4rem 7rem;

	@media screen and (max-width: $mobileBreak) {
		padding: 2rem;
	}
}

// Top form style
.form-top {
	@include flex(row, space-between);

	@media screen and (max-width: $mobileBreak) {
		@include flex(column);
	}
}

.input__container {
	margin: 1rem 0;
	@include flex(column, flex-start, flex-start);

	&--name {
		width: 50%;
		margin-right: 1rem;

		@media screen and (max-width: $mobileBreak) {
			width: 100%;
			margin: 0;
		}
	}

	&--email {
		width: 50%;

		@media screen and (max-width: $mobileBreak) {
			width: 100%;
		}
	}	
}

label {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

input {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid $primaryColor;
	padding: 2px;
	color: $primaryColor;
	font-size: 1rem;
	font-family: $font;

	&:focus {
		border-bottom: 1px solid $secondaryColor;
		outline: none;
	}
}


// Bottom form style

textarea {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 10rem;
	max-height: 10rem;
	background: transparent;
	border: none;
	border-bottom: 1px solid $primaryColor;
	outline: none;
	padding: 2px;
	color: $primaryColor;
	font-size: 1rem;
	font-family: $font;

	&:focus {
		border-bottom: 1px solid $secondaryColor;
	}

	@media screen and (max-width: $mobileBreak) {
		min-height: 5rem;
		max-height: 5rem;
	}
}

// Footer styling
footer {
	width: 100%;
	height: auto;
	background: rgba($primaryBackground, 0.9);
	padding: 2rem $bodyPadding;

	@media screen and (max-width: $mobileBreak) {
		padding: $mobilePadding;
	}
}

.footer-content__container {
	width: 100%;
	min-height: 10vh;
	@include flex(row, center, center);
	flex-wrap: wrap;

	@media screen and (max-width: $mobileBreak) {
		@include flex(row, center, flex-start);
	}
}

// Footer content styling
.footer-content {
	width: 30%;
	text-align: center;
	padding: 0 1rem;

	@media screen and (max-width: $mobileBreak) {
		width: 50%;
		margin: 1rem 0;
	}
}

// Link class used for links
.link {
	position: relative;
	color: $secondaryColor;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1px;
		transition: width $transitionShort;
		background: $secondaryColor;
	}

	&:hover::after {
		width: 100%;
	}
}