@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  html {
    font-smooth: 10px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(4deg, #0f0f0f 0%, #474747 100%);
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

p {
  color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #131313;
}

.nav {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.nav--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-logo__container {
  width: auto;
  height: auto;
  position: absolute;
  left: 8rem;
  z-index: 10;
}

@media screen and (max-width: 1280px) {
  .nav-logo__container {
    left: 1rem;
  }
}

.nav-logo {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.burger {
  width: 3rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 8rem;
  z-index: 10;
}

@media screen and (max-width: 1280px) {
  .burger {
    right: 1rem;
  }
}

.burger:hover .line:first-child {
  -webkit-transform: translate(15px);
          transform: translate(15px);
}

.burger:hover .line:last-child {
  -webkit-transform: translate(-15px);
          transform: translate(-15px);
}

.burger:active .line:first-child {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-transform: translate(-30px);
          transform: translate(-30px);
}

.burger:active .line:last-child {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-transform: translate(30px);
          transform: translate(30px);
}

.burger--cross .line:first-child {
  -webkit-transform: translate(0, 0.9rem) rotate(45deg);
          transform: translate(0, 0.9rem) rotate(45deg);
}

.burger--cross .line:nth-child(2) {
  opacity: 0;
}

.burger--cross:hover .line:nth-child(2) {
  opacity: 1;
}

.burger--cross .line:last-child {
  -webkit-transform: translate(0, -0.9rem) rotate(-45deg);
          transform: translate(0, -0.9rem) rotate(-45deg);
}

.line {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #d9ff00;
  width: 100%;
  height: 10%;
  border-radius: 1rem;
}

nav ul {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(4deg, #0f0f0f 0%, #474747 100%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #131313;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 20vh;
  font-size: 2rem;
  text-transform: uppercase;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(240, 240, 240, 0.2);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #f0f0f0;
  -webkit-filter: drop-shadow(0 10px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 10px 1px rgba(0, 0, 0, 0.3));
}

.nav--hidden {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  border-radius: 100%;
}

.services__container {
  position: relative;
  width: 100%;
  height: auto;
}

.services__container:hover .services-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.services-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: #131313;
}

.services-menu li {
  font-size: 1.5rem;
  height: auto;
  width: auto;
}

.header {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url(../assets/main-background.JPG);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1280px) {
  .header {
    height: 100vh;
  }
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .dark-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

.slogan__container {
  margin: 3rem 8rem;
  position: relative;
  z-index: 2;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  min-height: 5rem;
}

@media screen and (max-width: 1280px) {
  .slogan__container {
    margin: 1rem;
  }
}

.divider-line {
  background: #f0f0f0;
  width: 5px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  position: absolute;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.animate-stretch {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.slogan-text {
  font-size: 2.5rem;
  line-height: 200%;
  margin-left: 1rem;
  color: #f0f0f0;
  font-weight: 300;
}

@media screen and (max-width: 1280px) {
  .slogan-text {
    font-size: 1.5rem;
  }
}

.animate-slide {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.animate-slide--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.highlight-title--dark {
  color: #131313;
  font-weight: 800;
}

.highlight-title--light {
  color: #d9ff00;
  font-weight: 800;
}

.logo-text {
  font-size: 4rem;
}

@media screen and (max-width: 1280px) {
  .logo-text {
    font-size: 2.5rem;
  }
}

.section {
  width: 100%;
  min-height: 20vh;
  padding: 10rem 8rem;
}

.section--1 {
  background: #131313;
}

.section--2 {
  background: #1f1f1f;
}

@media screen and (max-width: 1280px) {
  .section {
    padding: 1rem;
  }
}

.section-title__container {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.content__container {
  font-size: 1.2rem;
}

.content__container--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  text-align: left;
  width: 50%;
  line-height: 170%;
}

@media screen and (max-width: 1280px) {
  .intro-text {
    text-align: center;
    width: 100%;
  }
}

.service-cards__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  .service-cards__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service__card {
  background: rgba(0, 0, 0, 0.3);
  width: 30%;
  margin: 0 1rem;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 5px 15px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 15px 20px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1280px) {
  .service__card {
    width: 100%;
    margin: 1rem 0;
  }
}

.service__card:hover .card-text {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.card-img__container {
  width: 100%;
  height: 40vh;
}

.card-img__container .card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content__container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.card-title {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  background: rgba(31, 31, 31, 0.8);
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-text {
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 85%;
  background: rgba(31, 31, 31, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 1280px) {
  .card-text {
    font-size: 1rem;
  }
}

.highlight-text--light {
  color: #d9ff00;
}

.highlight-text--dark {
  color: #131313;
}

footer {
  width: 100%;
  height: auto;
  background: rgba(19, 19, 19, 0.9);
  padding: 2rem 8rem;
}

@media screen and (max-width: 1280px) {
  footer {
    padding: 1rem;
  }
}

.footer-content__container {
  width: 100%;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .footer-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-content {
  width: 30%;
  text-align: center;
  padding: 0 1rem;
}

@media screen and (max-width: 1280px) {
  .footer-content {
    width: 50%;
    margin: 1rem 0;
  }
}

.link {
  position: relative;
  color: #d9ff00;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  background: #d9ff00;
}

.link:hover::after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */