// Variables
$primaryBackground: linear-gradient(4deg, rgb(0,75,69) 0%, rgb(0, 111, 119) 100%);
$secondaryBackground: rgb(19, 19, 19);
$primaryColor: rgb(240, 240, 240);
$secondaryColor: rgb(217, 255, 0);
$hiddenText: rgba(240, 240, 240, 0.2);
$shadow: rgba(0, 0, 0, 0.2);

$font: sans-serif;
$transitionMedium: 0.5s all ease;
$transitionShort: 0.3s all ease;

// Mixins
@mixin flex($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// Default style 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
	background: $primaryBackground;
	color: $primaryColor;
	font-family: $font;
}

a {
	color: $primaryColor;
	text-decoration: none;
}

// Navigation styling
.nav {
	width: 100%;
	height: 7rem;
	@include flex(row, space-between);

}

.nav-logo__container {
	width: auto;
	height: auto;
	position: absolute;
	left: 8rem;
	z-index: 10;
}

.nav-logo {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
}

.burger {
	width: 3rem;
	height: 2.2rem;
	@include flex(column, space-between);
	cursor: pointer;
	transition: $transitionShort;
	position: absolute;
	right: 8rem;
	z-index: 10;

	&:hover .line:first-child {
		transform: translate(15px);
	}

	&:hover .line:last-child {
		transform: translate(-15px);
	}

	&:active .line:first-child {
		transition: 0.1s all ease;
		transform: translate(-30px);
	}

	&:active .line:last-child {
		transition: 0.1s all ease;
		transform: translate(30px);
	}
}

.line {
	transition: $transitionShort;
	background: $secondaryColor;
	width: 100%;
	height: 20%;
	border-radius: 1rem;
}

nav ul {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	@include flex(column, center);
	background: $primaryBackground;
	transition: $transitionMedium;
	background:$secondaryBackground;
}

nav ul li {
	text-decoration: none;
	list-style-type: none;
	width: 100%;
	height: 20vh;
	font-size: 2rem;
}

nav ul li a {
	height: 100%;
	width: 100%;
	@include flex();
	color: $hiddenText;
	transition: $transitionShort;

	&:hover {
		color: $primaryColor;
		filter: drop-shadow(0 10px 1px $shadow);
	}
}

// Class to hide elements
.nav--hidden {
	transform: translate(0, -100%);
	border-radius: 100%;
}

// Animations