@use '../sass/variables.scss' as *;
@use '../sass/mixin.scss' as *;

.imgContainer {
	cursor: pointer;
	overflow: hidden;

	&:hover {
		img {
			@include transition();
			transform: scale(1.1);
		}
	}
}
